select{
    border-radius: 15px;
    width: 150px;
 
    background-color: rgb(235, 212, 212);
  padding-left: 10px;

}
h1{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.623);
    font-size: 35px;
}
@media (min-width: 992px) { 
  .size{
      width: 300px;
  }
}