<div class="row justify-content-start mt-5">
  
    <div class="d-flex mb-3 col-sm-5">
        <h1 class="me-3 ">Regional</h1>
      
        <select (change)="handleSelect($event)" 
        [(ngModel)]="selectedCode">
            <option *ngFor="let pres of pre" 
            value="{{ pres.countrycode ? pres.countrycode.iso2 : '' }}">
            {{ pres?.countryregion }}
            </option>
        </select>

    </div>
    <div *ngFor='let pres of search' class="d-lg-flex">
        <div class="confirmed  size mb-4 me-3 col-sm-5">
            <div class="d-flex pt-2 ms-3">
                <span class="me-2"><i class="fas fa-user"></i></span>
                <p>Confirmed</p>
            </div>
            <p class="infor ms-3">
                {{pres.confirmed | digitBeauty}}

            </p>
        </div>
        <div class="recovered size mb-4 me-3 col-sm-5">
            <div class="d-flex pt-2 ms-3">
                <span class="me-2"><i class="far fa-plus-square"></i></span>
                <p>Recovered</p>
            </div>
            <p class="infor ms-3">
                {{pres.recovered | digitBeauty}}

            </p>
        </div>
        <div class="deaths size mb-4 me-3 col-sm-5">
            <div class="d-flex pt-2 ms-3">
                <span class="me-2"><i class="fas fa-skull-crossbones"></i></span>
                <p>Deaths</p>
            </div>
            <p class="infor ms-3">
                {{pres.deaths | digitBeauty}}

            </p>
        </div>

        <div class="fatality-rate size mb-4 me-3 col-sm-5">
            <div class="d-flex pt-2 ms-3">
                <span class="me-2"><i class="fas fa-exclamation-circle"></i></span>
                <p>Fatality rate</p>
            </div>
            <p class="infor ms-3">
                {{pres.deaths / pres.confirmed * 100 | digitBeauty}}%

            </p>
        </div>
    </div>
  
    
   <div>
    <app-line-chart [iso2]="selectedCode"></app-line-chart>
   </div>
        
   


</div>